<form autocomplete="off">
    {{> "dnd5e.advancement-controls"}}

    <hr>

    <div class="flexrow">
        <label>
            Proficiency Type
        </label>
        {{{proficencyTypeSelect}}}
    </div>

    <div class="flexrow">
        <label>
            Number of Proficiencies
        </label>
        <input name="configuration.count" type="number" value="{{configuration.count}}" placeholder="1" /> 
    </div>

    <div class="flexrow">
        <label>
            Proficiency Levels to Increase
        </label>
        <input name="configuration.increase" type="number" value="{{configuration.increase}}" placeholder="1" /> 
    </div>
</form>