<form autocomplete="off">
    {{> "dnd5e.advancement-controls"}}

    <hr>

    <div class="form-group">
        <label>
            Proficiency Type
        </label>
        <select name="configuration.type">
            <option value="armor">Armor</option>
            <option value="abilities">Saving Throw</option>
            <option value="skills">Skills</option>
            <option value="spellcasting">Spellcasting</option>
            <option value="weapons">Weapon</option>
        </select>
    </div>

    <div id="armor" class="form-group selection" style="display: none;">
        <label>
            Armor Type
        </label>
        <select name="configuration.armor">
            {{{armorTypes}}}
        </select>
    </div>

    <div id="abilities" class="form-group selection" style="display: none;">
        <label>
            Saving Throw
        </label>
        <select name="configuration.abilities">
            {{{abilities}}}
        </select>
    </div>

    <div id="number-of-proficiencies" class="form-group selection" style="display: none;">
        <label>
            Number of Proficiencies
        </label>
        <input name="configuration.count" type="number" value="{{configuration.count}}" placeholder="1" />
    </div>

    <div class="form-group">
        <label>
            Prof. Levels to Increase
        </label>
        <input name="configuration.increase" type="number" value="{{configuration.increase}}" placeholder="1" />
    </div>
</form>